@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fdf7e4;
  margin: 0 1rem;
}

input:focus,
textarea:focus {
  outline: 1px solid #bbab8c;
}

div.main-content {
  margin-top: 4rem;
  width: 100%;
}

form.input-content {
  display: flex;
  flex-direction: column;
}

div.input-content p {
  text-align: right;
  color: #bbab8c;
}

.heading {
  font-weight: 400;
}

.input-judul {
  width: 99%;
  margin-bottom: 1rem;
  height: 30px;
  border: 1px solid #bbab8c;
  border-radius: 2px;
  padding-left: 8px;
}

textarea {
  width: 99%;
  height: 150px;
  border: 1px solid #bbab8c;
  border-radius: 2px;
  padding-left: 8px;
}
div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bbab8c;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 1rem;
}

h1.name-app {
  font-weight: 700;
  font-size: 1.5rem;
}

input.search {
  height: 2rem;
  border: none;
  border-radius: 3px;
  width: 30%;
  padding-left: 10px;
}

.btn-create {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #bbab8c;
  color: #fdf7e4;
  font-weight: 700;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn-create:hover {
  background-color: #fdf7e4;
  color: #bbab8c;
  border: 1px solid #bbab8c;
}

div.active-notes {
  margin-top: 2rem;
}

div.card {
  background-color: #bbab8c;
  color: #fdf7e4;
  border-radius: 3px;
  padding-top: 1rem;
  margin: 1rem;
  max-width: 400px;
}

.date {
  margin-top: -20px;
  font-size: 0.8;
}

div.btn-action {
  margin-top: 1rem;
  width: 100%;
  height: 30px;
  display: flex;
  border-top: 1px solid #fdf7e4;
  line-height: 30px;
}

div.archive {
  font-weight: 700;
  width: 50%;
  text-align: center;
  color: #faeed1;
  cursor: pointer;
}

div.delete {
  font-weight: 700;
  width: 50%;
  text-align: center;
  border-right: 1px solid #fdf7e4;
  color: #d80032;
  cursor: pointer;
}

div.archive:hover {
  background: #fdf7e4;
  color: #bbab8c;
  border: 1px solid #bbab8c;
}

div.delete:hover {
  background: #fdf7e4;
  border: 1px solid #bbab8c;
}

.titleNote,
.date {
  margin: 0 1rem;
}

.content {
  margin: 1rem;
  padding-bottom: 2rem;
}

p.no-notes {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}
